
.allmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 92px;

}

.menu-cards {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    position: relative;
    padding: 10%;
    padding-top: 150px;
    margin-bottom: 5%;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    width: 100%;
    max-width: 180px;
    min-width: 160px;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
    background-color: rgb(83, 33, 33);
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    user-select: none;

}

.card-btn {
    align-self: center;
    width: 40%;
    position: relative;
    bottom: 13px;
    padding: 5px;
    background-color: rgba(107, 107, 107, 0.267);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: none;
    transition: all .2s;

}

.card-btn:hover {
    background-color: rgba(0, 0, 0, 0.226);
}


.infoContainer{
    display: flex;
    flex:1;
    align-items: center;
    text-align: center;
}

.text {
    
}

.img-container{
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
}

.img-container img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.2s ease;
}


.img-container img.loaded {
  opacity: 1;
}


.img-container img:hover{
    transform: scale(1.3);
}




.c-all, .all {
    top: 0px;
    justify-self: center;
    width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: aqua;
    padding: 1em;
    overflow: hidden;
    user-select: none;
    background: none;
    position: relative;
}

.all {
    overflow: visible !important;
}

.c-box {
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: .3s all ease;
    gap: 10px;
}

.c-item {
    border-radius: 10px;
    min-width: calc(80% - 10px);
    height: 100%;
    background-color: rgb(136, 136, 136);
    transform: scale(.9);
    transition: all .5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.c-item.active {
    transform: scale(1.03);
    background-color: rgb(65, 65, 65);
    box-shadow: 0 0 3px 0px rgb(36, 19, 19);
}


.c-item:first-child{
    margin-left: 30px;
}



.marks{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    gap: 10px;
}

.mark {
    background-color: rgb(173, 173, 173);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.mark.active {
    background-color: rgb(138, 28, 0);
}


.card-btn-carrousel {
    position: relative;
    bottom: 32px;
}

.img-container-carrousel {
    height: 200px;
}

.img-container-carrousel img:hover {
    transform: none !important;
}


.others {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}



.leftarrow{

    right: 110%;

}

.rightarrow{
   
    left: 110%;

}

.leftarrow, .rightarrow {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    width: 30px;
    height: 30px;
}

@media (max-width: 600px) {
    .menu-cards {
        padding: 5%;
        padding-top: 120px;
        gap: 30px;
    }

    .card { 
        height: 250px;
        font-size: 12px;
    }

    .card-btn {
        width: 40%;
        padding: 3px;
        font-size: 12px;
    }
}