.we {
    height: 100svh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 30px;
    justify-content: space-between;
    padding: 7%;

}



.we-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50%;
    min-width: 300px;
}

.info-text {
    text-align: justify;
    text-align-last: center;
    letter-spacing: .5px;
    
    width: 100%;
    margin-top: 30px;
    font-weight: 300;
    font-size: clamp(1rem, 1.2vw, 1.25rem);

}

.we-photo {
    width: 400px;
    height:400px;
    border-radius: 50%;
    object-fit: cover;
}




@media screen and (max-width:750px) {
    .we {
        flex-direction: column;
        height: 100%;
    }

    .we-text{
        min-width: 320px;
        padding-top: 10%;
    }

    .we-photo {
        width: 320px;
        height: 320px;
    }
}